In [4]:
1) Write a program to accept percentage from the user and display the grade according to the following criteria?
Ans.per=int(input("enter your marks"))
if per >90:
    print("grade is A")
if per>80 and per<=90:
    print("garde is B")
if per>=60 and per<=80:
    print("grade is C")
if per<60:
    print("grade is D")

Object `criteria` not found.

enter your marks 73

grade is C

In [9]:
#2)Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria? 
        
#        Cost price (in Rs)                                                          Tax
 #       >100000                                                                       15%
  #      >50000 and <= 100000                                                          10%
   #     <=50000                                                                       5%
        
Tax=0
price=int(input("enter the price of bike"))
if price>100000:
    tax=15/100*price
elif price>50000 and price<=100000:
    tax=10/100*price
else:
    tax=5/100*price
print("Tax to be paid",tax)

enter the price of bike 75200

Tax to be paid 7520.0

In [7]:
#3)Accept any city from the user and display monument of that city?
            # city                              monument
             #delhi                               red fort
             #agra                                taj mahal
             #jaipur                              jal mahal

city=int(input("enter name of the city"))
if city.lower()=="delhi":
    print("monument name is:Red Fort")
elif city.lower()=="agra":
    print("monument name is:Taj Mahal")
elif city.lower()=="jaipur":
    print("monument name is:Jal Mahal")
else :
    print("enter correct name of city")

enter name of the city delhi

ValueError: invalid literal for int() with base 10: 'delhi'

In [ ]:
#4) Check how many times a given number can be divided by 3 before it is less than or equal to 10?
num=int(input("enter your number"))
if (num%3==0):
    print("{} id divisible by 3")
else:
    print("{} is not dividible by 3")

In [ ]:
#5) Why and when to use while loop in python give a detailed discription with example?

Ans. Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. 
If the condition evaluates to True , the code inside the while loop is executed.
example

In [8]:
i=1
n=5
while i<=n:
    print(i)
    i=i+1

1
2
3
4
5

In [10]:
#6) Used nested while loop to print 3 different pattern?
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
    # new line after each row
    print('')

1
2 2
3 3 3
4 4 4 4

In [15]:
for i in range(rows, 0, -1):
    b =1,2,3
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

(1, 2, 3) (1, 2, 3) (1, 2, 3) (1, 2, 3) (1, 2, 3)
(1, 2, 3) (1, 2, 3) (1, 2, 3) (1, 2, 3)
(1, 2, 3) (1, 2, 3) (1, 2, 3)
(1, 2, 3) (1, 2, 3)
(1, 2, 3)

In [17]:
#7)Reverse a while loop to display the numbers from 1 to 10
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [18]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1